.Notifications {
    background: linear-gradient(130deg,white, whitesmoke, gray, whitesmoke, white);
    padding: 60px;
    height: 800px;
    text-align: center;
    display: flex;
    align-items: center;
}