.ObjectiveContainer {
    display: flex;
}



.Objectivepic img {
    height: 300px;
}

.reviews {
    border: none;
    outline: none;
    margin: 5px;
    border-bottom: 1px solid #b3b0b0;
    width: 100%;
    max-width: 400px;

}



.likes{
    display: flex;
}

.down,
.up{
    margin:  0 5px;
}