.myOfflineMessage {
    background: linear-gradient(130deg,white, whitesmoke, gold, whitesmoke, white);
   padding: 60px;
    height: 800px;
    text-align: center;
    display: flex;
    align-items: center;
}

/*Media Queries*/

/*Body*/

/*320px-480px*/

@media screen and (min-width: 320px) and (max-width: 480px) {


    .HeroSection-styles {
        flex-wrap: wrap;
    }
    .WelcomeNote {
        font-size: 12px;
        width: 100%;
        max-width: 200px;
    }
    .btn {
        font-size: 10px;
    }
    .requestFormContainer {
        position: inherit;
        font-size: 12px;
    }
    .requestForm {
        padding: 5px 1px;
    }
    .LevelCardsContainer {
        font-size: 12px;
    }
    .LevelImages {
        height: 150px;
    }
    .levelbtn {
        font-size: 10px;
    }
    .txt {
        font-size: 12px;
        width: 100%;
        max-width: 480px;
        margin: 0 30px;
    }
    .Objectivepic {
        display: none;
    }
    .CreateForm,
    .ModPost {
        font-size: x-small;
    }
    .sign-up-container,
    .sign-in-container {
        font-size: x-small;
    }
    .AboutUs,
    .Courses,
    .LiveForum,
    .Feedback,
    .Notifications {
        font-size: x-small;
        height: 500px;
    }
    .reviews {
        max-width: 200px;

    }
}

@media screen and (min-width: 380px) and (max-width: 480px) {
    .LevelImages {
        height: 200px;
    }
}


/*481px-768px*/

@media screen and (min-width: 481px) and (max-width: 768px) {
    .HeroSection-styles {
        flex-wrap: wrap;
    }
    .WelcomeNote {
        font-size: 12px;
        width: 100%;
        max-width: 150px;
    }
    .btn {
        font-size: 12px;
    }
    .requestFormContainer {
        font-size: 13px;
    }
    .LevelCardsContainer {
        font-size: 12px;
    }
    .LevelImages {
        height: 250px;
    }
    .levelbtn {
        font-size: 10px;
    }
    .txt {
        font-size: 12px;
        width: 100%;
        max-width: 480px;
       margin: 0 30px;
    }
    .Objectivepic {
        display: none;
    }
    .CreateForm,
    .ModPost {
        font-size: x-small;
    }
    .sign-up-container,
    .sign-in-container {
        font-size: x-small;
    }
    .AboutUs,
    .Courses,
    .LiveForum,
    .Feedback,
    .Notifications {
        font-size: x-small;
        height: 500px;
    }


}





