.postSec {
    margin: 30px;
}

.postTitle {
    color: maroon;
    font-weight: bolder;
}
.postDescription {
    padding: 5px 0;
    color: saddlebrown;
}

.postParagraph {
    font-style: italic;
    font-weight: bold;
}

.postEdit {
    border: none;
    background-color: white;
    padding: 10px 0;
    font-size: 20px;

}

.postDelete {
    border: none;
    background-color: white;
    padding: 10px 10px;
    font-size: 20px;
}

.postEdit:hover {
    font-size: 40px;
}

.postDelete:hover {
    font-size: 40px;
}

