.postSec {
    margin: 30px;
}

.postTitle,
.postDescription,
.postParagraph {
    padding: 5px 0;
}

.postEdit {
    padding: 5px;
    margin: 1px;
    background: yellow;
    font-size: 10px;
    border-radius: 5px;
}

.postDelete {
    padding: 5px;
    margin: 10px;
    background: red;
    font-size: 10px;
    border-radius: 5px;
}

